div#main
	div
		a(href='/admin/events/new')
			| Create new event
		table#events
			-for (var i=0; i<events.length; i++)
				tr(id="event_#{events[i]._id}")
					td.title.action
						a(href="/admin/events/#{events[i]._id}")
							=events[i].title
					td.edit.action
						a(href="/admin/events/#{events[i]._id}/edit")
							| Edit
					td.remove.action
						a(href="#")
							| Remove
script
	$(document).ready(function(){
		$('.remove').click(function(e){
			var tr = $(this).parents('tr');
			var id = tr.attr('id').replace(/event_/, '');
			e.preventDefault();
			$.ajax({
				type: 'DELETE'
				, url: '/admin/events/' + id
				, data: {id: id}
				, success: function(){
						tr.fadeOut(500);
					}
				, error: function(){
						alert('Failed!');
					}
			})
		});
	});