div#main
		p
			| Event Facebook Id:
			=event.fbId
		p
			| Title:
			=event.title
		p
			| Start Time:
			=event.start
		p
			| End Time:
			=event.end
		p
			| Venue:
			=event.venue.name
		p
			| Created at:
			=event.createdAt