p.status live now
div#venue
  a(href='https://www.facebook.com/smashalternativeclubbing', target='_blank')
    img(src='/images/smash.jpg')

div#details
  table
    tr.title
      td Daniels in Concerto
      td.action
        a(href='https://www.facebook.com/events/340803782638222/', target='_blank')
          img(src='')
    tr
      td 114Km from you
      td.action
        a(href='http://maps.google.co.uk/maps?q=tennis+club+schio&hl=en&ll=45.729311,11.364326&spn=0.072136,0.154324&sll=51.514649,-0.187806&sspn=0.008039,0.01929&hq=tennis+club+schio&radius=15000&t=m&z=13', target='_blank')
          img(src='')
    tr
      td 78 people clubbing
      td.action
        a(href='https://foursquare.com/v/tennis-club/4ec0158bcc212562ad5375e8', target='_blank')
          img(src='')