div#venue.fade
  a(href='https://www.facebook.com/smashalternativeclubbing', target='_blank')
    p
      | Event venue
      span.status.live live now

div#details.fade
  table
    tr.title
      td
        img(src='images/equalizer.png')
        | Event title
      td.action
        a(href='https://www.facebook.com/events/340803782638222/', target='_blank')
          img(src='/images/arrow.png')
    tr.distance
      td
        img(src='images/compass.png')
        span.value unknown
        | Km from you
      td.action
        a(href='http://maps.google.co.uk/maps?q=tennis+club+schio&hl=en&ll=45.729311,11.364326&spn=0.072136,0.154324&sll=51.514649,-0.187806&sspn=0.008039,0.01929&hq=tennis+club+schio&radius=15000&t=m&z=13', target='_blank')
          img(src='/images/arrow.png')
    tr.people
      td
        img(src='images/martini.png')
        | 0 people clubbing
      td.action
        a(href='https://foursquare.com/v/tennis-club/4ec0158bcc212562ad5375e8', target='_blank')
          img(src='/images/arrow.png')

div#player
  iframe(width="100%", height="166", scrolling="no", frameborder="no", src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40134645&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700")

div#social
  p
    a(href='https://www.facebook.com/officialdaniels', target='_blank', class='facebook')
      | Facebook
    a(href='https://twitter.com/#!/officialdaniels', target='_blank', class='twitter')
      | Twitter

script(type='text/javascript')
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      smash_coords = {latitude: 45.717361737852, longitude: 11.364206557032}
      $('.distance .value').text(Geolocation.haversine(position.coords, smash_coords));
    });
  } else {
    error('Geo Location is not supported');
  }
  Geolocation = {
    rad: function(x) { return x * Math.PI / 180 },
  
    haversine: function(source, destination) {
      var earthRadius = 6371;
      var dLat  = this.rad(destination.latitude - source.latitude);
      var dLong = this.rad(destination.longitude - source.longitude);
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(this.rad(source.latitude)) * Math.cos(this.rad(destination.latitude)) * Math.sin(dLong/2) * Math.sin(dLong/2);
      var angularDistance = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var distance = earthRadius * angularDistance;
      return Math.round(distance);
    }
  }